<section id="about-us" class="h-max lg:h-[calc(100vh-64px)] scroll-mt-[64px] grid place-items-center" style="
background: url('static/assets/images/bg/about-us-section-bg.webp') center center/100% no-repeat;
">
    <div
    id="upload-container"
    class="mx-auto flex min-h-max w-4/5 flex-col rounded-2xl border-4 border-transparent bg-zinc-50 py-8 px-12 space-y-8 opacity-90 md:h-4/5 lg:max-w-6xl xl:w-full"
    >
     <h2 class="text-center text-4xl font-bold text-primary"> About <span class="text-secondary">Us</span> </h2>

     <p class="indent-16 text-primary text-lg text-justify">MEDetect is a powerful tool designed with a noble purpose in mind - to empower users in the Philippines to confidently determine the genuineness of over-the-counter acetaminophen medicines. By providing this crucial service, MEDetect pioneers the battle against counterfeit medications, a serious threat in the healthcare industry. Our aim is to protect the well-being of our users by offering them a reliable and user-friendly tool to confirm the genuineness of their medications. Together, we can play a pivotal role in combating the spread of counterfeit drugs and safeguard the health of our community.
    </p>
    <p class="indent-16 text-primary text-lg text-justify">
        The impact of MEDetect extends far beyond the individual user, fostering a collective sense of responsibility and vigilance within our communities. By empowering Filipinos to become active participants in safeguarding their health, we are cultivating a society that is immune to the perils of counterfeit medications. Together, we can create a healthcare landscape where authenticity reigns supreme, where every Filipino can confidently access the genuine medicines they need to thrive.
    </p>
    </div>
</section>

<style>
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      #upload-container{
        margin-bottom: 170px;
      }
    }
  </style>