<div id="contact-info">
    <div class="space-y-12">
        <h3 class="text-3xl font-semibold"> Let's Work Together</h3>
        <p class="text-xl text-justify">Got questions or need assistance with MEDetect? Reach out to us using this contact form. Our team is ready to provide swift and informative support, ensuring all your queries about OTC medicine authenticity recognition and our services are addressed with care.</p>
    </div>
</div>