<section id="contact-us" class="w-4/5 mx-auto flex flex-col h-max lg:h-[calc(100vh-64px)] scroll-mt-[64px] py-12 space-y-8">
    <h2 class="text-primary text-4xl font-bold tracking-wider text-center">Contact <span class="text-secondary">Us</span></h2>
    <div id="contact-us-container" class="flex-grow grid grid-cols-1 md:grid-cols-2 place-items-center gap-8 w-4/5 mx-auto">
        {% include 'partials/contact-info.jinja' %}
        {% include 'partials/contact-form.jinja' %}
    </div>
</section>