        <footer class="footer border-t-2 border-slate-300 pt-8">
            <div class="max-w-2xl mx-auto grid place-items-center">
                <img class="scale-150" src="{{ url_for('static', filename='assets/images/logos/medetect-logo.svg') }}" alt="footer-logo">
                <div class="flex space-x-4 mt-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#home" class="transition-all bg-gray-900 border-b-2 border-b-white hover:text-secondary px-3 py-2 text-md font-medium" aria-current="page">Home</a>
                    <a href="#how-to-use" class="transition-all text-gray-300 hover:bg-gray-700 border-b-white hover:text-secondary px-3 py-2 text-md font-medium">How to Use</a>
                    <a href="#about-us" class="transition-all text-gray-300 hover:bg-gray-700 border-b-white hover:text-secondary px-3 py-2 text-md font-medium">About Us</a>
                    <a href="#contact-us" class="transition-all text-gray-300 hover:bg-gray-700 border-b-white hover:text-secondary px-3 py-2 text-md font-medium">Contact Us</a>
                </div>

                <div id="footer-icon-container" class="flex gap-4">
                    <div class="transition-all ease-in-out mx-auto h-12 w-12 mb-2 bg-secondary text-white border border-transparent rounded-full grid place-items-center text-2xl hover:text-secondary hover:bg-white hover:border-secondary">
                        <a href="mailto:medetect2023@gmail.com" target="_blank">
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                    </div>
                    <div class="transition-all ease-in-out mx-auto h-12 w-12 mb-2 bg-secondary text-white border border-transparent rounded-full grid place-items-center text-2xl hover:text-secondary hover:bg-white hover:border-secondary">
                        <a href="https://www.facebook.com/medetect" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                    <div class="transition-all ease-in-out mx-auto h-12 w-12 mb-2 bg-secondary text-white border border-transparent rounded-full grid place-items-center text-2xl hover:text-secondary hover:bg-white hover:border-secondary">
                        <a href="https://www.instagram.com/medetect_g1" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="transition-all ease-in-out mx-auto h-12 w-12 mb-2 bg-secondary text-white border border-transparent rounded-full grid place-items-center text-2xl hover:text-secondary hover:bg-white hover:border-secondary">
                        <a href="https://twitter.com/MEDectect" target="_blank">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </div>
                </div>

                <div class="max-w-2xl mt-4 w-full text-center px- py-3 border-t-2 border-slate-300">
                    <span>Copyright BSCS 4-2 | Group 1 | 2023</span>
                </div>
            </div>
        </footer>
    </body>
</html>