<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medetect</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/logos/medetect-logo-icon.svg') }}" type="image/x-icon">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      * {
        font-family: "Poppins", sans-serif;
      }
    
      .active {
        border-bottom: solid 2px #1ba9b5;
      }
     
    </style>
    <!-- Animate CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            backgroundImage: {
              "gradient-radial": "radial-gradient(var(--tw-gradient-stops))",
              "gradient-conic":
                "conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops))",
            },
            colors: {
              primary: "#10217d",
              white: "#f3f3f5",
              gray: "#f9fbfc",
              black: "#121212",
              slategray: "#527c88",
              gainsboro: "#dbdde0",
              secondary: "#1ba9b5",
            },
            fontFamily: {
              poppins: ["Poppins", "sans-serif"],
            },
            font: {
              sm: "0.88rem",
              base: "1rem",
              lg: "1.125rem",
              xl: "1.25rem",
              "2xl": "1.5rem",
              "3xl": "1.875rem",
              "4xl": "2.25rem",
              "5xl": "3rem",
              "6xl": "4rem",
            },
          },
        },
      };
    </script>
  </head>
  <body class="relative">
