{% include 'partials/header.jinja' %}
{% include 'components/navbar.jinja' %}
<div id="scroll-container">
    {% include 'partials/upload.jinja' %}
    {% include 'partials/how-to-use.jinja' %}
    {% include 'partials/about-us.jinja' %}
    {% include 'partials/contact-us.jinja' %}
</div>
{% include 'partials/footer.jinja' %}